<% provide(:title, 'Главная') %>
<% provide(:rew, 'Дом111') %>


<nav class="navbar  navbar-default navbar-fixed-top  ">
  <div class="container-fluid">
    <div class="navbar-header">
      
	  <%= link_to "Комплексные светопрозрачные решения", root_path, class: "navbar-brand logo" %>
	  <p class="navbar-text">Алюминиевые светопрозрачные конструкции</p>
      <!--<%= image_tag("zamer_mini.jpg", class: "navbar_img", alt: "Комплексные светопрозрачные решения") %>-->
      </a>
    </div>
  </div>
</nav>

 
	
<!-- Слайдер 1 -->	
 <div id="myCarousel" class="carousel slide" data-ride="carousel">
	<!-- Маркеры слайдов -->
    <ol class="carousel-indicators">
		<li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
    </ol>
 
	<!-- Содержимое слайдов -->
	<div class="carousel-inner" role="listbox">
		
		<div class="item active", style="height:200px">
			<%= image_tag("slider/slider001.jpg", class: "slider_img", alt: "Вызов замерщика") %>
			
		</div>
                     
		<div class="item", style="height:200px">
			<%= image_tag("slider/slider002.jpg", class: "slider_img", alt: "Вызов замерщика") %>
			
			
		</div>
                     
		<div class="item", style="height:200px">
			<%= image_tag("slider/slider003.jpg", class: "slider_img", alt: "Вызов замерщика") %>
			
			
		</div>
	</div>
 
	<!-- Controls -->
	<a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
  </div>
<!-- Конец Слайдер 1 -->
 

  <div class="row featurette">
    <div class="col-md-2 col-md-offset-1">
      <!--Sidebar content-->
	  
	  

        
            <div id="navbar" class="navbar-collapse collapse">
              <ul class="nav nav-pills nav-stacked">
                <li class="active"><%= link_to "Домой",    root_path %></li>
                <li><%= link_to "Алюминий",   alum_path %></li>
				<li><%= link_to "ПВХ",   alum_path %></li>
				<li><%= link_to "Стеклянные конструкции",   alum_path %></li>
				<li><%= link_to "Автоматика",   alum_path %></li>
                <li><%= link_to "Вход в личный кабинет", '#' %></li>
                <li class="dropdown">
                  <a href="./Carousel Template for Bootstrap_files/Carousel Template for Bootstrap.html" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a>
                  <ul class="dropdown-menu">
                    <li><a href="./Carousel Template for Bootstrap_files/Carousel Template for Bootstrap.html">Action</a></li>
                    <li><a href="./Carousel Template for Bootstrap_files/Carousel Template for Bootstrap.html">Another action</a></li>
                    <li><a href="./Carousel Template for Bootstrap_files/Carousel Template for Bootstrap.html">Something else here</a></li>
                    <li role="separator" class="divider"></li>
                    <li class="dropdown-header">Nav header</li>
                    <li><a href="./Carousel Template for Bootstrap_files/Carousel Template for Bootstrap.html">Separated link</a></li>
                    <li><a href="./Carousel Template for Bootstrap_files/Carousel Template for Bootstrap.html">One more separated link</a></li>
                  </ul>
                </li>
              </ul>
            </div>
         
	<!--End of Sidebar content-->  
    </div>
    <div class="col-md-6">
      <!--Body content-->
	  
	  <div class="container marketing">	  
	  <!-- START THE FEATURETTES -->

      

      <div class="row featurette">
        <div class="col-md-7">
          <h2 class="featurette-heading red center">Специальное предложение!<br><br>
			<span class="text-muted">Только для покупателей квартир в новых домах!!!</span><br><br></h2>
          <p class="lead center">При замене всех окон в квартире скидка на весь заказ <span class="red">20%</span></p>
        </div>
        <div class="col-md-5">
			<%= image_tag("sale_001.jpg", class: "featurette-image img-responsive center-block", alt:"500x500", size:"500") %>
        </div>
      </div>

      <hr class="featurette-divider">

      
      <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-sm-7">
          <h2 class="featurette-heading">And lastly, this one. <span class="text-muted">Checkmate.</span></h2>
          <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
        </div>
        <div class="col-sm-5">
          <img class="featurette-image img-responsive center-block" data-src="holder.js/500x500/auto" alt="500x500" src="data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiIHN0YW5kYWxvbmU9InllcyI/PjxzdmcgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB3aWR0aD0iNTAwIiBoZWlnaHQ9IjUwMCIgdmlld0JveD0iMCAwIDUwMCA1MDAiIHByZXNlcnZlQXNwZWN0UmF0aW89Im5vbmUiPjwhLS0KU291cmNlIFVSTDogaG9sZGVyLmpzLzUwMHg1MDAvYXV0bwpDcmVhdGVkIHdpdGggSG9sZGVyLmpzIDIuNi4wLgpMZWFybiBtb3JlIGF0IGh0dHA6Ly9ob2xkZXJqcy5jb20KKGMpIDIwMTItMjAxNSBJdmFuIE1hbG9waW5za3kgLSBodHRwOi8vaW1za3kuY28KLS0+PGRlZnM+PHN0eWxlIHR5cGU9InRleHQvY3NzIj48IVtDREFUQVsjaG9sZGVyXzE1MTQ3YzhjMGNjIHRleHQgeyBmaWxsOiNBQUFBQUE7Zm9udC13ZWlnaHQ6Ym9sZDtmb250LWZhbWlseTpBcmlhbCwgSGVsdmV0aWNhLCBPcGVuIFNhbnMsIHNhbnMtc2VyaWYsIG1vbm9zcGFjZTtmb250LXNpemU6MjVwdCB9IF1dPjwvc3R5bGU+PC9kZWZzPjxnIGlkPSJob2xkZXJfMTUxNDdjOGMwY2MiPjxyZWN0IHdpZHRoPSI1MDAiIGhlaWdodD0iNTAwIiBmaWxsPSIjRUVFRUVFIi8+PGc+PHRleHQgeD0iMTg1LjEyNSIgeT0iMjYxLjEiPjUwMHg1MDA8L3RleHQ+PC9nPjwvZz48L3N2Zz4=" data-holder-rendered="true">
        </div>
      </div>

      <hr class="featurette-divider">

	
	
		<h1>Ajax show</h1>
		<p>The current time is <%= @time %></p>
		Click this link to show the current 
		

		<div id='time_div' data-background-color="#000099">
		123456543</div>
	  <br>
	  
 	</div>
	
	<!--End of Body content-->
    </div>
  </div>

 
      
 




 
